*, *:before, *:after {
    box-sizing: border-box;
  }

  .upcoming-buses {
    padding-top: 142px;
  }

  .bus-number-container {
    background-color: #ffffff;
    width: 108px;
    height: 76px;
    float: left;
    
    /* padding: 21px 0px 21px 16px; */
  };
  
  .direction > h4 {
  }

  .direction {
    background-color: #F2F2F2;
    padding: 0px 16px;
    font-weight: 600;
    font-size: 1.375em;
    height: 45px;
    bottom: -5px;
    padding-top: 15px;
    display: block;
  }

  .northbound {
    background-color: #F2F2F2;
    padding: 146px 0px 10px 16px;
    font-weight: 600;
    font-size: 1.375em;
    margin-top: 20px;
  }
  .reroute {
    background-color: #F2F2F2;
    padding: 76px 0px 10px 16px;
    font-weight: 600;
    font-size: 1.375em;
    margin-top: 15px;
    
    /* transform: translate(0%, 50%); */
    display: block;
  }

  .reroute > 

  .bus-1 .bus-2{
    display: block;
  }

  .bus-1 {
    padding-top: 0px;
    display: block;
  }

  .bus-name > h2 {
    background-color: #625AFA; 
    margin: -0px 16px;
    color: white;
    text-align: center;
    font-size: 1.563em;
    font-weight: 300;
    line-height: 1.5em;
    border-radius: 4px;
    transform: translate(0%, 50%);
    width: 77px;
    /* padding-left: 16px; */
  }

  .location {
    padding: 13px 4px;
    margin: 0px;
    background-color: #ffffff;
    width: 267px;
    height: 76px;
    display: inline-block;
    float: left;
  }

  .direction-arrow {
    font-size: 2em;
    vertical-align: -100%;
    bottom: 0px;
    line-height: .1em;
    color: rgba(255, 255, 255, 0.767);
  }
  
  .location > .arrow {
    float: right;
    display: inline-block;
    color: #C7C7CC;
    font-size: 11px;
    padding: 15px 5px 15px 0px;
  }

  .arrow-left {
    /* float: right; */
    display: inline-block;
    /* Vertically center arrow */
    color: #625AFA;
    font-size: 11px;
    padding-left: 9px;
    font-size: .9em;
  }

  nav {
    margin: 0 auto;
    /* padding: 15px 0 15px 15px; */
    position: fixed;
    width: 375px;
    height: 96px;
    
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
  }


  .navbar-top {
    width: 375px;
    height: 44px;
    background-image: url(../images/navbar.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    z-index: 1;
  }

  .navbar-bottom {
    width: 375px;
    height: 44px;
    background-image: url(../images/bottombar.png);
    background-size: 375px 34px;
    background-repeat: no-repeat;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0);
    
  }

  header {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    width: 375px;
    height: 98px;
    display: block;
    box-shadow: 0 3px 2px 0px rgb(199, 199, 199);
    z-index: 2;
    position: absolute;
  }


  .menu > h2 {
    font-size: 1.1em;
    color: #625AFA;
  }

  .menu {
    display: inline-block;
    text-align: center;
    float: right;
    transform: translate(0%, 25%);
    padding-right: 16px; 
  }
  nav {
    height: 98px;
  }

  .main-nav {
    position: fixed;
    z-index: 10000;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    background-color: #333;
  }
  
  .container {
    /* Changes position on page */
    margin: 0 auto;
    width: 375px;
    height: 812px;
    background-color: rgb(255, 255, 255);
  }

  .map {
    display: block;
    width: 375px;
    height: 342px;
    padding-top: 76px;
    background-image: url(../images/bus2.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .separator {
    display: block;
    width: 375px;
    height: 1px;
    margin: 0;
    padding-top: 0px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: rgb(199, 199, 199);
    float: left;
  } 

  .content {
    display: inline-block;
    float: left;
  }
  
  h1 {
    font-size: 2.125em;
    font-weight: 600;
    line-height: 1.7;
    text-align: left;
    display: block;
    margin: 0px 0px;
    padding-left: 15px;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.7
  }

  h3 {
    /* padding-top: -20px; */
    font-size: .9em;
    font-weight: 700;
    line-height: 1;
  }

 .issue {
    color:rgb(230, 3, 128);
  }
  
  .bus-1 > .separator {
    height: 1px;
    background-color:rgb(199, 199, 199);
}

  .arrow-down {
    float: right;
    display: inline-block;
    color: #C7C7CC;
    font-size: 11px;
    font-weight: 200;
    padding: 10px 15px 15px 0px;
  }
  
  /* Makes 'min' not bold */
  .notbold {
    font-weight: 100;
    color: rgb(0, 0, 0);
}
